@import "/src/layout/base";
@import "/src/components/Header/header";
@import "/src/components/FormInputCase/formInputCase";

.FIOBlock {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.profileAvatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.profileBlock {
  padding: 24px 32px 0 32px;
}

.profileInputsBlock {
  margin-top: 32px;
}

.profileBottomMenu {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.profileLinkBlue {
  margin-bottom: 16px;
  font-size: 16px;
  color: @primary;
}

.profileLinkRed {
  font-size: 16px;
  color: @secondary;
}

.profileFIO {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}
