<form class="chatTyper">
    <button type="button" class="addFilesIconBtn" onclick="alert('Я еще не работаю')">
        <img src="{{icons.addFilesIcon}}" alt="addFilesIcon" class="addFilesIcon" />
    </button>
    <button type="button" class="addImageIconBtn" onclick="alert('Я еще не работаю')">
        <img src="{{icons.addImageIcon}}" alt="addImageIcon" class="addImageIcon" />
    </button>
    <label>
        <input placeholder="Сообщение.." class="chatInput" />
    </label>
    <button type="submit" class="sendButtonCase">
        <img src="{{icons.sendButton}}" alt="sendButton" class="sendButton" />
    </button>
</form>
