<main class='loginPage'>
    <h1 class='loginTitle'>Вход</h1>
    <form id='loginForm' class='loginForm'>
        <div class='loginInputs'>
            {{{formInputCase1}}}
            {{{formInputCase2}}}
        </div>
        <div class='loginBottomButtons'>
            {{{button}}}
            <a class='loginLink' href='./register.html'>Нет аккаунта?
                Зарегистрироваться</a>
        </div>
    </form>
</main>