<main class="loginPage">
    <h1 class="loginTitle">Вход</h1>
    <form class="loginForm">
        <div class="loginInputs">
            {{{formInput1}}}
            {{{formInput2}}}
        </div>
        <div class="loginBottomButtons">
            {{{button}}}
            <a class="loginLink"
               href="./register.html">Нет аккаунта? Зарегистрироваться</a>
        </div>
    </form>
</main>
