---
chatBlocks: [
    {
        companion: {
            name: "Андрей",
            avatar: "https://via.placeholder.com/150",
        },
        isMine: false,
        unreadCount: 2,
        lastMessage: "Изображение",
        lastMessageTime: "10:47",
    },
    {
        companion: {
            name: "Василий",
            avatar: "https://via.placeholder.com/150",
        },
        isMine: true,
        unreadCount: 0,
        lastMessage: "Пойдем гулять!",
        lastMessageTime: "11:01",
    },
    {
        companion: {
            name: "Петька",
            avatar: "https://via.placeholder.com/150",
        },
        isMine: true,
        unreadCount: 0,
        lastMessage: "Ууу, Петька, ты даёшь!",
        lastMessageTime: "11:23",
    },
    {
        companion: {
            name: "Сашка",
            avatar: "https://via.placeholder.com/150",
        },
        isMine: true,
        unreadCount: 0,
        lastMessage: "Как дела, Сашка?",
        lastMessageTime: "11:24",
    },
    {
        companion: {
            name: "Garry",
            avatar: "https://via.placeholder.com/150",
        },
        isMine: true,
        unreadCount: 0,
        lastMessage: "Hi,dude! How re u doing?",
        lastMessageTime: "12:41",
    },
]
---

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible"
              content="ie=edge">
        <title>Chats</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../src/layout/base.less" />
        <link rel="stylesheet" type="text/css" href="../src/pages/index/index.less" />
    </head>
    <body>
        <header>
            {{>header heading='Чаттер'}}
        </header>
        <main class="main">
            {{#each chatBlocks}}
                <a href="./chat.hbs">
                    {{>chatItem
                        avatar=companion.avatar
                        name=companion.name
                        lastMessage=lastMessage
                        lastMessageTime=lastMessageTime
                        unreadCount=unreadCount
                        isMine=isMine
                    }}
                </a>
            {{/each}}
            <div class="emptyChats">
                <p class="emptyChatsText">Чатов больше нет, начните <a class="emptyChatsLink">новый!</a></p>
            </div>
        </main>
    </body>
</html>
