---
inputs: [
    {
        heading: "Почта",
        type: "email",
        required: true,
    },
    {
        heading: "Логин",
        type: "text",
        required: true,
    },
    {
        heading: "Имя",
        type: "text",
        required: true,
    },
    {
        heading: "Фамилия",
        type: "text",
        required: true,
    },
    {
        heading: "Телефон",
        type: "tel",
        required: true,
    },
    {
        heading: "Пароль",
        type: "password",
        required: true,
    },
    {
        heading: "Пароль (еще раз)",
        type: "password",
        required: true,
    },
]
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <title>Register Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../src/pages/login/login.less" />
    <link rel="stylesheet" type="text/css" href="../src/layout/base.less"
</head>
<body>
<main class="loginPage">
    <h1 class="loginTitle">Регистрация</h1>
    <form class="loginForm">
        <div class="loginInputs">
            {{#each inputs}}
                {{>formInput heading=heading}}
            {{/each}}
        </div>
        <div class="loginBottomButtons">
            {{>button text="Зерегистрироваться" type="submit"}}
            <a class="loginLink"
               href="./login.hbs">Войти</a>
        </div>
    </form>
</main>
</body>
</html>
