<div class="errorPartialWrapper">
    <div class="errorPartialSmallWrapper">
        <p class="errorCode">{{code}}</p>
        <p class="errorText">{{text}}</p>
        <a href="/" class="errorLink">Назад к чатам</a>
    </div>
</div>

