@import '/src/layout/base';

.messageWrapper {
    position: relative;
    max-width: 320px;
    margin: 0 auto 8px 16px;
    padding: 8px 32px 8px 8px;

    font-size: 16px;
    text-align: left;

    color: @black;
    background-color: @lightBlue;
    border-radius: 8px;
}

.messageWrapper_blue {
    position: relative;
    max-width: 320px;
    margin: 0 16px 8px auto;
    padding: 8px 32px 16px 8px;

    font-size: 16px;
    text-align: left;

    color: @white;
    background-color: @primary;
    border-radius: 8px;
}

.messageText {
    font-size: 16px;
}

.messageTime {
    position: absolute;
    bottom: 1px;
    right: 32px;

    font-size: 10px;
}

.readArrow {
    position: absolute;
    bottom: 4px;
    right: 8px;
    width: 16px;
}
